<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.and.note.er" >
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		<activity android:name=".SimpleXFCActivity"android:label="SimpleXFCActivity类的布局"android:launchMode="singleTask"/>
		<activity android:name=".DaKaiYanShiBiJiAc"android:label="DaKaiYanShiBiJi类的布局"android:launchMode="singleTask"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
			android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<service android:name=".XFCService"android:label="悬浮窗服务"/>
    </application>
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
</manifest>
